button{cursor:pointer;}
:focus,:active{outline:none;}
*{margin:0;padding:0;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
button,select,input,textarea{border:none;color:inherit;font-size:inherit;}
a,a:visited{text-decoration:none;color:inherit;}
::before,::after{box-sizing:border-box;}
::placeholder{color:inherit;}
textarea{resize:none;}
li{list-style:none;}

html, body{
    height: 100%;
}

body {
    position: relative;
    min-width: 320px;
    font: 20px/1.15 "Helvetica Neue", sans-serif;
    background-color: #222228;
    color: #e3e3e3;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    padding: 0 100px;
    margin: 100px auto;
}



form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid rgb(53, 53, 53);
    overflow: hidden;
    border-radius: 15px;
    gap: 20px;
    padding: 10px;

    input, textarea {
        min-height: 50px;
        padding: 10px;
        background-color: #333333;
    }

    textarea {
        min-height: 150px;
    }

    button {
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        background-color: #333333;
        color: #fff;
    }
}

.validate-error {
    outline: 1px solid red;
}

.title {
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
}

.forms {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.interface {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data {
    min-height: 100vh;
    border-left: 1px solid #333;

    .title {
        border-bottom: 1px solid #333;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.obj-data {
    margin: 10px 0;
}

.message-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #333;

    &__item {
        margin: 3px 0;
    }

    &__text {
       
        span {
            color: #999;
            margin-right: 6px;
        }
    }
}